@page
@model PomagajLocaly.Pages.Company.DeleteOffer

@{
    ViewData["Title"] = "Delete offer";
}
<h1>@ViewData["Title"]</h1>


<div>
    <h4>Offer</h4>
    <hr/>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name </th>
            <th>Description </th>
            <th>Price </th>
            <th>Action </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var offer in Model.Offers)
        {
            <tr>
                <td>@Html.DisplayFor(model => offer.Name) </td>
                <td>@Html.DisplayFor(model => offer.Description)</td>
                <td>@Html.DisplayFor(model => offer.Price)</td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@offer.OfferId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>